
/* Mobile */
@media (max-width: 768px) {

    /* ######### Landing Page########### */
/* 
    div{
        border: 2px solid black;
    } */

    .nav-links{
        display: none;
    }


    /* ################ Hero section ################ */

    .hero{
        padding: 2rem;
        margin-top: -1rem;
    }

    .hero-section{
        padding-top: 0;
    }

    .hero-content h1{
        font-size: 5.6rem;
        line-height: 6.4rem;
    }

    .star-svg{
        display: none;
    }

    .hero-img{
        width: 100%;
    }

    .hero-small-div {
        margin-top: 5rem;
    }

    /* ################ About section ################ */

    .video img{
        width: 80%;
    }

    .about-section{
        padding: 5rem 2rem;
    }

    .about{
        gap: 3rem;
    }

    .about h2{
        font-size: 4rem;
    }

    .about img{
        width: 100%;
    }

    .hero-section{
        flex-direction: column-reverse;
    }

    .about{
        flex-direction: column;
    }

    .sub-about{
        flex-direction: column;
    }

    .workflow{
        flex-direction: column;
    }

    .video-section{
        flex-direction: column;
    }

    .portfolio-section .total-work{
        display: none;
    }

    .tab-1, .tab-2{
        flex-direction: column;
    }


    .left-side-tab, .right-side-tab{
        width: 100%;
    }

    .get-started{
        flex-direction: column;
    }

    .get-started-content img{
        width: 100%;
    }

    .arrow-div{
        display: none;
    }

    .pricing-cards {
        flex-direction: column;
        align-items: center;
    }

    .faq-section{
        flex-direction: column  ;
    }


    .map-content .contact-form{
        display: none;
    }

    .map-pin{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-main{
        flex-direction: column;
        gap: 5rem;
        align-items: center;
        justify-content: center;
    }

    .footer-content{
        text-align: center;
    }

    .sub-footer{
        flex-direction: column;
        align-items: center;
    }
}